body {
  margin: 0px;
}
.container {
  background-image: url("img/hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.logo {
  display: block;
}
.imglogo {
  margin-top: 55px;
  margin-left: 80px;
}
.imglogom {
  display: none;
}
@media screen and (max-width: 560px) {
  .imglogom {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
  }
  .imglogo {
    display: none;
  }
}
.row {
  display: flex;
}
.logotitle {
  flex: 50%;
  margin: 85px 0px 20px 80px;
  text-shadow: 1px 2px 5px black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
}
.logotitlem {
  display: none;
}
@media screen and (max-width: 560px) {
  .logotitlem {
    display: flex;
    flex: 100%;
  }
  .titlem {
    margin: 0px;
    text-shadow: 1px 2px 5px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .logotitle {
    display: none;
  }
}
.title {
  margin: 0px;
}
.para {
  margin: 0px;
  font-weight: 600;
}
.containerhero {
  flex: 50%;
  margin-top: 45px;
}
@media screen and (max-width: 560px) {
  .containerhero {
    display: none;
  }
}
.heroimg {
  height: 350px;
}
@media screen and (max-width: 560px) {
  .heroimg {
    display: none;
  }
}
.formcontainer {
  display: block;
  margin: auto;
  padding: 10px;
  text-align: center;
}
.formtitle {
  margin: auto;
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 20px;
  font-family: monospace;
  text-align: center;
}
.formcontent {
  display: inline-flex;
  width: auto;
}
.formemail {
  border: none;
}
input {
  background-color: #f5f5f5;
  border: none;
  padding: 10px;
  border-radius: 4px;
  width: 300px;
  height: 35px;
  margin: 10px;
}
::placeholder {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.rowb {
  display: block;
  margin: auto;
  padding: 10px;
  text-align: center;
}
/* .btn {
  display: block;
  text-align: center;
} */
.loginbtn {
  border: none;
  width: 320px;
  height: 35px;
  border-radius: 4px;
  background-color: #5900bd;
  color: white;
  font-weight: bolder;
  box-shadow: 2px 2px 5px black;
  margin: 5px 0px 10px 0px;
}
.forgot {
  display: flex;
  /* text-align: left; */
}
.forgotlink {
  /* margin-left: 110px; */
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 560px) {
  .formcontainer {
    display: block;
    margin: auto;
    padding: 10px;
    text-align: center;
  }
  .formtitle {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 20px;
    font-family: monospace;
    text-align: center;
  }
  .formcontent {
    display: block;
  }
  .formemail {
    border: none;
  }
  input {
    background-color: #f5f5f5;
    border: none;
    padding: 10px;
    border-radius: 4px;
    width: 300px;
    height: 35px;
    margin: 10px;
  }
  ::placeholder {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .loginbtn {
    border: none;
    width: 320px;
    height: 35px;
    border-radius: 4px;
    background-color: #5900bd;
    color: white;
    font-weight: bolder;
    box-shadow: 2px 2px 5px black;
    margin: 5px 0px 10px 0px;
  }
  .forgot {
    text-align: left;
  }
  .forgotlink {
    margin-left: 110px;
    text-decoration: none;
    color: black;
  }
}
